---
import AmigoSecreto from "../components/AmigoSecreto.jsx";
---

<html>
  <head>
    <title>Amigo Secreto</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <main>
      <AmigoSecreto />
    </main>
  </body>
</html>
